a {
	color: #333;
	background: linear-gradient(to left, #333, rgb(194, 65, 65) 50%, #eee 75%, #333 75%);
	border: 1px solid #ffa500;
}

p,
h1 {
	color: #eeeeee;
}

.theme-dark a {
	color: #eee;
	background: url('../abc') no-repeat center scroll;
	border: 1px solid green;
}
